~APP_NAME=
APP_VERSION=

ENVIRONMENT=
DEBUG=

HOST=
PORT=

MONGODB_URI=
DATABASE_NAME=

JWT_ALGORITHM=
JWT_PRIVATE_KEY_PATH=
JWT_PUBLIC_KEY_PATH=
ACCESS_TOKEN_EXPIRE_MINUTES=

LOG_LEVEL=

MAX_UPLOAD_SIZE=
ALLOWED_EXTENSIONS=

GEMINI_API_KEY=